* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.inativo{
    display: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.ativo {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.ativo input, button {
    width: 267px;
    margin-bottom: 8px;
    padding: 8px 0;
    border-radius: 1px;
    border-style: solid;
    border-width: 1.5px;
}

.ativo input {
    font-size: 12px;
    outline: none;
    background: #FAFAFA;
    text-indent: 8px;
}

.facebook {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.senha {
    font-size: 13px;
}

.ativo button {
    margin-top: 6px;
    background: #0095f6;
    color: white;
    border: none;
    padding: 6px 0;
    border-radius: 3.5px;
    cursor: pointer;
}

.or {
    color: #8E8E8E;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.or::before {
    content: '';
    position: absolute;
    width: 105px;
    height: 1px;
    background: #DBDBDB;
    display: inline-block;
    margin-left: -120px;
    margin-top: 5px;
}

.alter-color {
    color: #000;
}

.line {
    display: flex;
}

.margin-top {
    margin-top: 5px;
}

.or::after {
    content: '';
    position: absolute;
    width: 105px;
    height: 1px;
    background: #DBDBDB;
    margin-left: 15px;
    margin-top: 5px;
}

.ativo a {
    color: #385185;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3.5rem;
}

.profile-photo {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
    cursor: pointer;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

.get-app {
    margin-bottom: 1.3rem;
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .ativo input, button {
        display: block;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        background-color: rgb(243, 243, 243);
        border: 1px solid transparent;
    }

}
